.banner__custom-text {
margin-bottom: 12px;
line-height: 1.4;
font-weight: 600;
}

.slideshow__text.banner__box{
max-width: 100rem!important;
}

.button.button--secondary:hover{
background-color:#fff;
color:#000;
border:1px solid #fff;  
}

.slideshow__controls {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.slider-counter__link--dots .dot {
  background-color: #ffffff!important;
  opacity: 0.5!important;
}

.slider-counter__link--active .dot {
  background-color: #f4b400!important;
  opacity: 1!important;
}